# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
/media/
/staticfiles/

# Virtual environment
venv/
venv_django/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Distribution
build/
dist/
*.egg-info/
